﻿@{
    ViewBag.Title = "Shopping List";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/Scripts.js" type="text/javascript"></script>
<!--<script src="https://www.paypalobjects.com/api/checkout.js" type="text/javascript"></script>-->

<div class="container">
    <h2>Products</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="products"></tbody>
    </table>
    <button class='btn'>@Html.ActionLink("View Cart", "ViewCart")</button>

</div>


<script type="text/javascript">

    $(document).ready(function () {

        getProducts();
    })



</script>