﻿
@{
    ViewBag.Title = "View Cart";
}

<h2>View Cart</h2>
<div class="container">
    <p>
        <button class='btn'>@Html.ActionLink("Back to Shopping :P", "Index")</button>
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Description
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Subtotal
            </th>
        </tr>
        <tbody id="Cart"></tbody>

    </table>
    <button onclick="checkOut()" class="btn">Checkout</button>
    <button onclick="payOrders()" class="btn">Pay Now</button>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/Scripts.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        showCart();
    })

</script>

